@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');
:root{
    /* Theme 1 */

    /* Backgrounds */
    --t1mainBg:hsl(222, 26%, 31%);
    --t1toggleBg:hsl(223, 31%, 20%);
    --t1screenBg: hsl(224, 36%, 15%);

    /* Keys */
    --t1keyBg:hsl(225, 21%, 49%);
    --t1keyShadow:hsl(224, 28%, 35%);
    --t1red: hsl(6, 63%, 50%);
    --t1darkRed: hsl(6, 70%, 34%);
    --t1light_grayish_orange:hsl(30, 25%, 89%);
    --t1grayish_orange:hsl(28, 16%, 65%);
    --t1grayish_blue:hsl(221, 14%, 31%);

    /* Text */
    --t1very_grayish_blue:hsl(221, 14%, 31%);

    
    /* Theme 2 */

    /* Backgrounds */

    --t2mainBg: hsl(0, 0%, 90%);
    --t2toggleBg: hsl(0, 5%, 81%);
    --t2screenBg: hsl(0, 0%, 93%);

    /* Keys */

    --t2keyBg: hsl(185, 42%, 37%);
    --t2keyShadow: hsl(185, 58%, 25%);
    --t2orange: hsl(25, 98%, 40%);
    --t2darkOrange: hsl(25, 99%, 27%);
    --t2grayish-yellow: hsl(45, 7%, 89%);
    --t2grayish-orange: hsl(35, 11%, 61%);

    /* Text */

    --t2dark_grayish_yellow: hsl(60, 10%, 19%);

    /* Theme 3 */

    /* Backgrounds */

    --t3mainBg: hsl(268, 75%, 9%);
    --t3screenBg: hsl(268, 71%, 12%);

    /* Keys */

    --t3keyBg: hsl(281, 89%, 26%);
    --t3keyShadow: hsl(285, 91%, 52%);
    --t3pureCyan: hsl(176, 100%, 44%);
    --t3softCyan:hsl(177, 92%, 70%);

    --t3dark-violet: hsl(268, 47%, 21%);
    --t3magenta: hsl(290, 70%, 36%);

    /*Text */

    --t3lightyellow: hsl(52, 100%, 62%);
    --t3dark-blue: hsl(198, 20%, 13%);

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan' ,  sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

.home{
    background-color:var(--t1mainBg);
    color: #fff;
}

.theme-2{
    background-color: var(--t2mainBg);
    color: var(--t2dark_grayish_yellow);
}

.theme-3{
    background-color: var(--t3mainBg);
    color: var(--t3lightyellow);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}


.theme-control{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.theme-control h6{
    text-transform: uppercase;
    font-size: 10px;
}

.theme-btn {
    background-color: var(--t1screenBg);
    border-radius: 30px;
    padding: 4px;
    position:relative;
}

.items{
    position: absolute;
    width: 85%;
    bottom:100%;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.items button{
   border: none;
   padding: 0 3px;
   cursor: pointer;
   background-color: transparent;
   color: inherit;
   font-weight: bold;
}

.rounded {
    display: flex;
    gap:3px;
    align-items: center;
    justify-content: center;
}
 .rounded div {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    cursor: pointer;
    visibility: hidden;
}

.rounded div.active{
    visibility: visible;
    background-color: var(--t1red);
}
.calc-body{
    min-height: 500px;
    max-width:400px;
}

.input-field{
    width: 100%;
    height: 90px;
    padding: 20px;
    border-radius: 8px;
}

.home .input-field{
    background-color: var(--t1screenBg);
}

.theme-2 .input-field{
    background-color: var(--t2screenBg);
}

.theme-3 .input-field{
    background-color: var(--t3screenBg);
}


.input-field input{
    width: 100%;
    height: 100%;
    color: white;
    outline: none;
    border:none;
    text-align: right;
    font-size: 32px;
    background-color: transparent;
}

.theme-2 .input-field input{
    color: var(--t2dark_grayish_yellow);
}

.theme-3 .input-field input{
    color: var(--t3lightyellow);
}

/* spinner remover */
input::-webkit-inner-spin-button,input::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

input[type = number]{
    -moz-appearance: textfield;
}


.calc-btns{
    margin: 10px 0;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    grid-gap:15px;
    border-radius: 8px;
}

.home .calc-btns{
    background-color: var(--t1screenBg);
}

.theme-2 .calc-btns{
    background-color: var(--t2toggleBg);
}

.theme-3 .calc-btns{
    background-color: var(--t3screenBg);
}

.calc-btns button{
    font-size: 20px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: 0.05s all ease-in-out;
}

.home .calc-btns button{
    background-color: var(--t1light_grayish_orange);
    box-shadow: 0 3px 0 var(--t1grayish_orange);
}

.theme-2 .calc-btns button{
    background-color: var(--t2grayish-yellow);
    box-shadow: 0 3px 0 var(--t2grayish-orange);
}

.theme-3 .calc-btns button{
    background-color: var(--t3dark-violet);
    box-shadow: 0 3px 0 var(--t3magenta);
}



.calc-btns button:active{
    box-shadow: none;
    top: 8px;
}

.del,.reset,.equal{
    color: white;
    border: none;
    border-radius: 8px;
    text-transform: uppercase;
    cursor: pointer;
}

.del{
    background-color: var(--t1keyBg);
    box-shadow: 0 3px 0 var(--t1keyShadow);
}

.theme-2 .del{
    background-color: var(--t2keyBg);
    box-shadow: 0 3px 0 var(--t2keyShadow);
}

.theme-3 .del{
    background-color: var(--t3keyBg);
    box-shadow: 0 3px 0 var(--t3keyShadow);
}

.reset{
    grid-column: 1 / 3;
    grid-row: 5 / 6 ;
    background-color: var(--t1keyBg);
    box-shadow: 0 3px 0 var(--t1keyShadow);
}

.theme-2 .reset{
    background-color: var(--t2keyBg);
    box-shadow: 0 3px 0 var(--t2keyShadow);
}

.theme-3 .reset{
    background-color: var(--t3keyBg);
    box-shadow: 0 3px 0 var(--t3keyShadow);
}

.equal {
    grid-column: 3 / 5;
    grid-row: 5 / 6 ;
    background-color: var(--t1red);
    box-shadow: 0 3px 0 var(--t1darkRed);
}

.theme-2 .equal{
     background-color: var(--t2orange);
    box-shadow: 0 3px 0 var(--t2darkOrange);
}

.theme-3 .equal{
     background-color: var(--t3pureCyan);
     box-shadow: 0 3px 0 var(--t3softCyan);
    color: black;
}

.theme-2 .rounded div.active{
    background-color: var(--t2orange);
}
.theme-3 .rounded div.active{
    background-color: var(--t3pureCyan);
}
















.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }